.container {
    margin: 0 auto;
    padding-top: 2%;
    margin-top: 3%;
}

.container ul a {
    text-decoration: none;
    color: black;
}

.container li {
    list-style-type: none;
    padding: 1% 1% 1% 1%;
    background-color: aliceblue;
    width: 65%;
    margin: 0 auto;
}

.container li:hover {
    background-color: aquamarine;
}
.container ul {
   margin: 0 auto;
   text-align: center;
   padding: 0;
}