.container {
    padding-top: 2%;
    margin-top: 8%;
    padding-left: 10%;
}

.updatebutton, .deletebutton {
    margin-top: 5%;
    margin-right: 2%;
    width: 28%;
    padding: 1%;
    box-sizing: border-box; 
}

input[type="text"] {
    width: 57%;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  .usererrors, .emailerrors, .cityerrors {
      height: 14px;
      color: #a94442;
      font-size: 13px;
  }

